.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #7c2d0d;
  color: white;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}